/* Home.css */
.home-container {
  padding: 20px;
  background-color: #f9f9f9;
  min-height: calc(100vh - 160px); /* Adjust based on your navbar and footer height */
}

.events-list {
  margin-top: 20px;
}

.filter-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.search-input, .category-dropdown, .sort-dropdown {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ddd;
  font-size: 14px;
}

.search-input {
  width: 250px;
}

.category-dropdown, .sort-dropdown {
  width: 180px;
}

.event-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  min-height: 300px; /* Ensures consistent height */
}

.event-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.event-card h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.event-card p {
  margin: 5px 0;
}

.view-details-btn {
  margin-top: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%; /* Full width button */
}

.view-details-btn:hover {
  background-color: #0056b3;
}

.logout-btn {
  background-color: #f44336;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
}

/* No Results Styling */
.no-events-message {
  text-align: center;
  color: #666;
  margin-top: 50px;
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}